# ignore python byte code files
*.pyc
/example/build/
/example/def_generated.vh
/example/output.hex
/example/output.hex.mif
/example/ZUMA_custom_generated.v
/example/ZUMA_custom_generated.v_packed
/doc/ZUMA.aux
/doc/ZUMA.bbl
/doc/ZUMA.blg
/doc/ZUMA.log
/doc/ZUMA.out
/doc/ZUMA.synctex.gz
/doc/ZUMA.toc
/tests/integration/ZUMA_custom_generated.v
/tests/integration/def_generated.vh
/tests/integration/output.hex
/tests/integration/output.hex.mif
/tests/integration/build/
/verilog/verification/ZUMA_custom_generated.v
/verilog/verification/def_generated.vh
/verilog/verification/VerificationTestsuite/abc_out_v.blif
/verilog/verification/VerificationTestsuite/abc_out_v_opt.blif
/verilog/verification/VerificationTestsuite/def_generated.vh
/verilog/verification/VerificationTestsuite/test_opt.blif
/verilog/verification/VerificationTestsuite/test_unopt.blif
/verilog/verification/VerificationTestsuite/top_module.v
/verilog/verification/VerificationTestsuite/verificationOverlay.v
